<h2 style="text-align:center; margin-bottom: 30px; font-family: 'Noto Serif', serif; text-shadow: 2px 2px 2px gray; color:#F0FFF0; font-size:50px;">Best Cocktails</h2>
<p style='color:black'>You can see the best known cocktails below and see the details of the cocktail by clicking on a cocktail. Enjoy the ride!</p>
<% @cocktails.each do |cocktail|  %>
  <div class='card' id='cockt_card'>
    <p class='cockt_name'><%=link_to "#{cocktail.name}", cocktail_path(cocktail)%></p>
    <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill,id:'cock_img' %>
    <br>
  </div>
<% end %>
  <div id='create_link'>
    <p><%= link_to 'Create a new cocktail', new_cocktail_path, id:'create_para' %></p>
  </div>
</div>


