p {
  text-align:center;
  margin-top:20px;
  margin-left:20px;
  color:#FAEBD7;
}

.footer {
  background-image: linear-gradient(gray, white);
  position: relative;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:25px;
  height:100px;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  margin-left:20px;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #E1306C;
  color: white;
}

#icons {
  margin-right:30px;
  width:300px;
}
