p {
  text-align:center;
  margin-top:35px;
  color:#FAEBD7;
}

.footer {
  background-image: linear-gradient(gray, white);
  position: relative;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
