h1 {
  text-align:center;
  font-family:'Arial Black';
  margin-top:auto;
  margin-bottom:35px;
  padding-bottom:30px;
  text-shadow:2px 2px 2px gray;
  color:#F0F8FF;
}

.header {
  background-image: url('https://res.cloudinary.com/ds2odybte/image/upload/v1605616588/Can%20Photos/cocktail_header_au7rnd.jpg');
  margin-bottom:60px;
}

h3 {
  text-align:center;
  text-shadow:2px 2px 2px gray;
  color:#F0F8FF;
}

h2 {
  text-align:center;
  text-shadow:2px 2px 2px gray;
  color:#F0F8FF;
}
