h1 {
  text-align:center;
  font-family:'Arial Black';
  margin-top:auto;
  margin-bottom:35px;
  padding-bottom:30px;
  text-shadow:3px 3px 3px black;
  color:#F0F8FF;
  font-weight: bold;
  padding-top: 20px;
}

.header {
  background-image: url('https://res.cloudinary.com/ds2odybte/image/upload/v1605616588/Can%20Photos/cocktail_header_au7rnd.jpg');
  margin-bottom:30px;
  padding-bottom:20px;
  opacity:50%;
  margin-top:0;
}

h3 {
  text-align:center;
  text-shadow:2px 2px 2px black;
  color:#F0F8FF;
  font-weight: bold;
}

h2 {
  text-align:center;
  text-shadow:2px 2px 2px black;
  color:#F0F8FF;
  font-weight: bold;
}

#top {
  text-align:center;
  margin-bottom: 30px;
  font-family: 'Noto Serif', serif;
  text-shadow: 2px 2px 2px gray;
  color:#F0FFF0;
  font-size:50px;
}

#top_link {
  a {
    display:block;
    margin-right: auto;
    margin-left: auto;
    width:6%;
  }
}
