#cock_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25%;
  box-shadow: 2px 2px 2px gray;
}

#round_pic {
  width:1000px;
  opacity:0.8;
  border-radius: 50%;
  background-color:#F8F8FF;
  margin-bottom: 30px;
}

